<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Add Student</h1>

    <form method="POST">

        <p>
            <label>Student Name:</label><br>
            <input type="text"
                   name="name"
                   placeholder="Enter Student Name"
                   required>
        </p>

        <p>
            <label>Enrollment Number:</label><br>
            <input type="text"
                   name="roll_no"
                   placeholder="Enter Enrollment Number"
                   required>
        </p>

        <p>
            <label>Course / Branch:</label><br>
            <select name="course" required>
                <option value="">-- Select Course / Branch --</option>
                <option value="Computer Engineering">Computer Engineering</option>
                <option value="Information Technology">Information Technology</option>
                <option value="Electrical Engineering">Electrical Engineering</option>
                <option value="Mechanical Engineering">Mechanical Engineering</option>
            </select>
        </p>

        <p>
            <label>Email:</label><br>
            <input type="email"
                   name="email"
                   placeholder="Enter Email"
                   required>
        </p>

        <p>
            <label>Password:</label><br>
            <input type="password"
                   name="password"
                   id="password"
                   placeholder="Create Strong Password"
                   minlength="8"
                   required>
        </p>

        <p>
            <label>Confirm Password:</label><br>
            <input type="password"
                   name="confirm_password"
                   id="confirm_password"
                   placeholder="Confirm Password"
                   minlength="8"
                   required>
        </p>

        <p>
            <small>
                Password must contain:<br>
                • At least 8 characters<br>
                • 1 uppercase letter (A-Z)<br>
                • 1 lowercase letter (a-z)<br>
                • 1 number (0-9)<br>
                • 1 special character (@ # $ ! etc.)
            </small>
        </p>

        <button type="submit">
            Add Student
        </button>

    </form>

    <br>

    <a href="/students">
        ⬅ Back to Student Management
    </a>

</body>
</html>
