<!DOCTYPE html>
<html>
<head>
    <title>College ERP Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>College ERP Management System</h1>

    <p>Welcome to College ERP Dashboard</p>

    <!-- SMART DASHBOARD -->
    <div class="dashboard">

        <a href="/students" style="text-decoration: none; color: inherit;">
            <div class="card">
                <h2>👨‍🎓 Students</h2>
                <p>Total Students</p>
                <h2>{{ total_students }}</h2>
            </div>
        </a>

        <a href="/faculty" style="text-decoration: none; color: inherit;">
            <div class="card">
                <h2>👨‍🏫 Faculty</h2>
                <p>Total Faculty</p>
                <h2>{{ total_faculty }}</h2>
            </div>
        </a>

        <a href="/courses" style="text-decoration: none; color: inherit;">
            <div class="card">
                <h2>📚 Courses</h2>
                <p>Manage Courses</p>
            </div>
        </a>

        <a href="/attendance" style="text-decoration: none; color: inherit;">
            <div class="card">
                <h2>📊 Attendance</h2>
                <p>Manage Attendance</p>
            </div>
        </a>

        <a href="/fees" style="text-decoration: none; color: inherit;">
            <div class="card">
                <h2>💰 Fees</h2>
                <p>Manage Student Fees</p>
            </div>
        </a>

        <a href="/reports" style="text-decoration: none; color: inherit;">
            <div class="card">
                <h2>📄 Reports</h2>
                <p>View Reports</p>
            </div>
        </a>

    </div>

</body>
</html>
