<!DOCTYPE html>
<html>
<head>
    <title>College ERP Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>College ERP Management System</h1>
    <p>Welcome to College ERP Dashboard</p>

    <div class="dashboard">

       <a href="/students" style="text-decoration: none; color: inherit;">
    <div class="card">
        <h2>👨‍🎓 Students</h2>
        <p>Manage Student Records</p>
    </div>
</a> 

       <a href="/faculty" style="text-decoration: none; color: inherit;">
    <div class="card">
        <h2>👨‍🏫 Faculty</h2>
        <p>Manage Faculty Records</p>
    </div>
</a>

        <div class="card">
            <h2>📚 Courses</h2>
            <p>Manage College Courses</p>
        </div>

        <div class="card">
            <h2>📝 Attendance</h2>
            <p>Manage Student Attendance</p>
        </div>

        <div class="card">
            <h2>💰 Fees</h2>
            <p>Manage Student Fees</p>
        </div>

        <div class="card">
            <h2>📊 Reports</h2>
            <p>View College Reports</p>
        </div>

    </div>

</body>
</html>
