<!DOCTYPE html>
<html>
<head>
    <title>College ERP Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>College ERP Management System</h1>

    <div>
        <h2>Dashboard</h2>
        <p>Welcome to College ERP Management System</p>

        <button>Student Management</button>
        <button>Faculty Management</button>
        <button>Attendance</button>
        <button>Fees Management</button>
        <button>Courses</button>
    </div>

</body>
</html>
