<!DOCTYPE html>
<html>

<head>
    <title>My Profile</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>👤 My Profile</h1>

    <div class="card">

        <h2>Student Profile</h2>

        <p><b>Name:</b> Student</p>

        <p><b>Enrollment Number:</b> Not Available</p>

        <p><b>Course:</b> Not Available</p>

        <p><b>Email:</b> Not Available</p>

    </div>

    <br>

    <a href="/student-dashboard">
        ⬅ Back to Student Dashboard
    </a>

</body>

</html>
