<!DOCTYPE html>
<html>
<head>
    <title>Student Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Student Management</h1>

    <p>Manage College Student Records</p>

    <br>

    <a href="/add-student">
        <button>Add Student</button>
    </a>

    <h2>Student List</h2>

    {% if students %}
        <table border="1" cellpadding="10">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Enrollment Number</th>
                <th>Course</th>
                <th>Email</th>
            </tr>

            {% for student in students %}
            <tr>
                <td>{{ student[0] }}</td>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[3] }}</td>
                <td>{{ student[4] }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No students added yet.</p>
    {% endif %}

    <br>

    <a href="/">⬅ Back to Dashboard</a>

</body>
</html>
